* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --cor-header: #fffaf0;
  --cor-principal: #e3d1ba;
  --cor-secundaria: #d7bc93;
  --cor-terciaria: #c29958;
  --cor-titulo: #e2c08d;
  --cor-subtitulo: #f5dfbb;
  --cor-texto: #4a3225;
  --cor-card: #6d4e3a;
  --tamanho-header: 120px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/imagem2.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--tamanho-header);
  background-color: var(--cor-header);
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
}

main {
  width: 100%;
  min-height: 100vh;
  margin-top: var(--tamanho-header);
  z-index: 0;
}

.titulos {
  color: var(--cor-titulo);
  font-size: 40px;
}

.subtitulos {
  color: var(--cor-subtitulo);
  font-size: 30px;
}

.textos {
  color: var(--cor-texto);
  font-size: 25px;
}

.links {
  border: solid 3px var(--cor-terciaria);
  background-color: transparent;
  padding: 25px;
  color: var(--cor-texto-claro);
  font-size: 25px;
  border-radius: 5px;
  transition: ease 0.5s background-color;
  text-decoration: none;
}

.links:hover {
  background-color: var(--cor-terciaria);
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box_section1,
.box_section2 {
  padding: 50px;
  gap: 30px;
}

.box_section1 {
  background-color: var(--cor-principal);
}

.box_section2 {
  background-color: transparent;
}

.imagem {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hidden {
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100%);
  transition: ease 1s all;
}

.show {
  filter: none;
  transform: translateX(0);
  opacity: 1;
}

.box_cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  background-color: var(--cor-card);
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  border-radius: 5px;
  transition: ease 0.5s all;
}

.card:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 10px var(--cor-card);
}
